$item-max-width: 700px;
$item-new-color: #FF8A65;
$badge-new-text: 'Nowe';

.icon {
	display: inline-block;
	&.clock {
		color: #000;
		position: absolute;
		top: 2px;
		margin-left: 0.133em;
		margin-top: 0.133em;
		width: 1em;
		height: 1em;
		position: relative;
		border: solid 0.067em currentColor;
		border-radius: 0.5em;

		&:before {
			content: "";
			position: absolute;
			top: 0.467em;
			left: 0.467em;
			width: 0.333em;
			height: 0.067em;
			background-color: currentColor;
			-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0.133em;
			left: 0.467em;
			width: 0.067em;
			height: 0.4em;
			background-color: currentColor;
			-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
		}
	}

	&.heart {
		color: #000;
		position: relative;
		margin-top: 6px;
		margin-left: 5px;
		margin-right: 5px;
		width: 9px;
		height: 9px;
		border-left: solid 1px currentColor;
		border-bottom: solid 1px currentColor;
		transform: rotate(-45deg);
		&:before {
			content: "";
			position: absolute;
			top: -5px;
			left: -1px;
			width: 8px;
			height: 5px;
			border-radius: 5px 5px 0 0;
			border-top: solid 1px currentColor;
			border-left: solid 1px currentColor;
			border-right: solid 1px currentColor;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0px;
			left: 8px;
			width: 5px;
			height: 8px;
			border-radius: 0 5px 5px 0;
			border-top: solid 1px currentColor;
			border-right: solid 1px currentColor;
			border-bottom: solid 1px currentColor;
		}
	}
}
.instagram-item {
	max-width: $item-max-width;
	max-height: 90vh;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	background-color: #fff;
	&__header {
		padding: 15px;
	}
	&__author {
		text-decoration: none;
		color: #333;
		&-image {
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 10px;
		}
		&-name {
			font-weight: 600;
			line-height: 30px;
		}
	}
	&__figure {
		padding: 0;
		margin: 0;
		position: relative;
		height: calc(100% - 110px);		
		max-height: calc(90vh - 110px); /* dirtyfix */
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		&-image {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: auto;
			flex-grow: 0;
			flex-shrink: 1;
		}
		&-caption {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 15px;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	&__footer {
		padding: 15px;

		&-likes {
			display: inline-block;
			margin-right: 10px;
		}
		&-date {
			display: inline-block;
		}
	}

	&--new {
		position: relative;
		border-color: lighten($item-new-color, 15%);
		box-shadow: 0 0 10px 0 rgba($item-new-color, 0.5);
		&:before {
			content: $badge-new-text;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $item-new-color;
			color: #fff;
			padding: 10px 15px;
			border-bottom-left-radius: 10px;
		}
	}
}

